<?xml version="1.0"?>
<phpunit stopOnDefect="true">
  <testsuites>
    <testsuite name="Math_Vector">
      <!-- run all files in sub-directory 'tests'' -->
      <directory phpVersion="5.0.0">
        tests
      </directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <!-- check to cover all php-files in directory Math-->
      <directory suffix=".php">Math</directory>
    </include>
  </source>
  <coverage includeUncoveredFiles="true">
    <report>
      <text outputFile="Math_Test_Coverage.txt"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="Math_Test_Results.xml"/>
  </logging>
  <php>
  </php>
</phpunit>
